.fase {

  &-1 {
    background-color: $gray;
    &:hover {
      background-color: $white;
      cursor: pointer;
    }
    .subtitle {
      color: #0a0a0a !important;
    }
  }

  &-2 {
    background-color: $gray;
    &:hover {
      background-color: $white;
      cursor: pointer;
    }
    .subtitle {
      color: #0a0a0a !important;
    }
  }

  &-3 {
    background-color: $gray;
    &:hover {
      background-color: $white;
      cursor: pointer;
    }
    .subtitle {
      color: #0a0a0a !important;
    }
  }

  &-4 {
    background-color: $gray;
    &:hover {
      background-color: $white;
      cursor: pointer;
    }
    .subtitle {
      color: #0a0a0a !important;
    }
  }

  &-5 {
    background-color: $gray;
    &:hover {
      background-color: $white;
      cursor: pointer;
    }
    .subtitle {
      color: #0a0a0a !important;
    }
  }

}
