.fase {

  &-1 {
    background-color: $gray;
    &:hover {
      background-color: $purple;
      cursor: pointer;
    }
    .subtitle {
      color: #0a0a0a   !important;
    }
  }

  &-2, &-2b {
    background-color: $gray;

    .subtitle {
      color: #0a0a0a !important;
    }

    &.is-active {
      background-color: $blue !important;
    }
  }

  &-3, &-3b {
    background-color: $gray;

    .subtitle {
      color: #0a0a0a !important;
    }

    &.is-active {
      background-color: $success !important;
    }
  }

  &-4, &-4b {
    background-color: $gray;

    .subtitle {
      color: #0a0a0a !important;
    }

    &.is-active {
      background-color: $error !important;
    }
  }

  &-5 {
    background-color: $gray;
    &:hover {
      background-color: $warning;
      cursor: pointer;
    }
    .subtitle {
      color: #0a0a0a !important;
    }
  }

}
