.is-pink {
  color: $pink !important;
}

.is-pink-link {
  color: $pink;
  &:hover {
    color: $black;
  }
}

.underline:hover {
  text-decoration: underline solid $white !important;
}

.is-white-pink {
  color: $pink;
  &:hover {
    color: $white;
  }
}