.is-pink {
  color: $pink !important;
}

.is-pink-link {
  color: $pink;
  &:hover {
    color: $black;
  }
}

.title {
  &.is-pink:hover{
    text-decoration: underline solid $white !important;
  }
}