// Typography
$font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-secondary: 'Telex', sans-serif;

// Colors
$black: #0C0C0C;
$white: #fff;
$gray: #d7d7d7;
$pink: #e62686;
$lightPink: rgba(230, 38, 134, 0.30);

$warning: #ebc06f;
$blue: #86b3cd;
$error: #c57582;
$success: #95b996;
$purple: #a193b1;




