// Bulma
@import "~bulma/bulma";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Telex');

// Variables
@import "variables";

// Custom Styles
@import "fases";
@import "typography";

.is-black {
  background-color: #0C0C0C !important;
  .title, .subtitle {
    color: #fff;
  }
}

.is-pink-bg {
  background-color: $pink !important;
  color: #fff !important;
}

.prevnex {
  background-color: $pink !important;
  color: #fff;

  &.prev {
    border-top-left-radius: 5px;
  }

  &.nex {
    border-top-right-radius: 5px;
  }
}