// Bulma
@import "~bulma/bulma";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Telex');

// Variables
@import "variables";

// Custom Styles
@import "fases";
@import "typography";

.is-black {
  background-color: #0C0C0C !important;
  .title, .subtitle, .paragraph {
    color: #fff;
  }
}

.header-image {
  background-image: url(https://picsum.photos/1920/500);
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.is-pink-bg {
  background-color: $pink !important;
  color: #fff !important;
}

.prevnex {
  background-color: $pink !important;
  color: #fff;

  &.prev {
    border-top-left-radius: 5px;
  }

  &.nex {
    border-top-right-radius: 5px;
  }

  &.home {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.no-top-padding {
  padding-top: 0 !important;
}